# Data Manging with pandas

# Introduction

## powerful Python data analysis toolkit

pandas is a Python package aiming to provide
- fast
- flexible
- expressive

data structures designed to make working with

- relational
- labeled

data both easy and intuitive.

## Suitable for data of all sorts

- Tabular data with columns of different data types (as in an SQL table or Excel spreadsheet)
- Ordered and unordered time series data (not necessarily fixed-frequency)
- Arbitrary matrix data with row and column labels (homogeneously typed or heterogeneous)
- Any other form of observational / statistical data sets (the data  need not be labeled to be placed into a pandas data structure)

## Primary data structures

- Series (1-dimensional)
- DataFrame (2-dimensional)

For R users, DataFrame provides everything that Râ€™s data.frame provides and much more.

pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

# Getting started

In [96]:
import pandas as pd
import numpy as np

In [97]:
pd.__version__

u'0.20.1'

# Object creation

## Series

In [98]:
# Create Series with missing data
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## DataFrame

In [99]:
# Create DatetimeIndex for 6 days
dates = pd.date_range('20170901', periods=6)
dates

DatetimeIndex(['2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06'],
              dtype='datetime64[ns]', freq='D')

In [100]:
# Create 6x4 NP array with random values
ran_values = np.random.randn(6,4)
ran_values

array([[ 0.23051414, -0.28580632,  0.35457973,  1.63813223],
       [ 1.46610552,  0.36143299, -0.69967186,  0.5909181 ],
       [ 0.85840437, -0.20824091, -0.32334378, -0.26983698],
       [ 0.26830511, -0.78065576, -0.22962856,  0.77808124],
       [ 1.83936044,  1.14887577,  1.2779539 ,  0.70010126],
       [-1.19054289,  0.91047078, -0.0720562 , -0.41625165]])

In [101]:
df = pd.DataFrame(ran_values, columns=list('ABDC'))

In [102]:
df

          A         B         D         C
0  0.230514 -0.285806  0.354580  1.638132
1  1.466106  0.361433 -0.699672  0.590918
2  0.858404 -0.208241 -0.323344 -0.269837
3  0.268305 -0.780656 -0.229629  0.778081
4  1.839360  1.148876  1.277954  0.700101
5 -1.190543  0.910471 -0.072056 -0.416252

In [103]:
df.set_index(dates, inplace=True)

In [104]:
df

                   A         B         D         C
2017-09-01  0.230514 -0.285806  0.354580  1.638132
2017-09-02  1.466106  0.361433 -0.699672  0.590918
2017-09-03  0.858404 -0.208241 -0.323344 -0.269837
2017-09-04  0.268305 -0.780656 -0.229629  0.778081
2017-09-05  1.839360  1.148876  1.277954  0.700101
2017-09-06 -1.190543  0.910471 -0.072056 -0.416252

In [105]:
# Create DataFrame by using a dict of series-like objects.
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20170920'),
                     'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["LUMC","EMC","LUMC","EMC"]),
                     'F' : 'researcher'
                   })
df2

     A          B    C  D     E           F
0  1.0 2017-09-20  1.0  3  LUMC  researcher
1  1.0 2017-09-20  1.0  3   EMC  researcher
2  1.0 2017-09-20  1.0  3  LUMC  researcher
3  1.0 2017-09-20  1.0  3   EMC  researcher

In [106]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Tab completion

In [107]:
# df.<TAB> shows attributes and column names

# Exploring data

## Top (head) and bottom (tail) of data

In [108]:
df.head()

                   A         B         D         C
2017-09-01  0.230514 -0.285806  0.354580  1.638132
2017-09-02  1.466106  0.361433 -0.699672  0.590918
2017-09-03  0.858404 -0.208241 -0.323344 -0.269837
2017-09-04  0.268305 -0.780656 -0.229629  0.778081
2017-09-05  1.839360  1.148876  1.277954  0.700101

In [109]:
df.tail(2)

                   A         B         D         C
2017-09-05  1.839360  1.148876  1.277954  0.700101
2017-09-06 -1.190543  0.910471 -0.072056 -0.416252

## Meta data

In [110]:
df.index

DatetimeIndex(['2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06'],
              dtype='datetime64[ns]', freq='D')

In [111]:
df.columns

Index([u'A', u'B', u'D', u'C'], dtype='object')

In [112]:
df.values

array([[ 0.23051414, -0.28580632,  0.35457973,  1.63813223],
       [ 1.46610552,  0.36143299, -0.69967186,  0.5909181 ],
       [ 0.85840437, -0.20824091, -0.32334378, -0.26983698],
       [ 0.26830511, -0.78065576, -0.22962856,  0.77808124],
       [ 1.83936044,  1.14887577,  1.2779539 ,  0.70010126],
       [-1.19054289,  0.91047078, -0.0720562 , -0.41625165]])

## Basic statistics

In [113]:
df.describe()

              A         B         D         C
count  6.000000  6.000000  6.000000  6.000000
mean   0.578691  0.191013  0.051306  0.503524
std    1.077292  0.747672  0.692115  0.755390
min   -1.190543 -0.780656 -0.699672 -0.416252
25%    0.239962 -0.266415 -0.299915 -0.054648
50%    0.563355  0.076596 -0.150842  0.645510
75%    1.314180  0.773211  0.247921  0.758586
max    1.839360  1.148876  1.277954  1.638132

## Transposing data

In [114]:
df.T

   2017-09-01  2017-09-02  2017-09-03  2017-09-04  2017-09-05  2017-09-06
A    0.230514    1.466106    0.858404    0.268305    1.839360   -1.190543
B   -0.285806    0.361433   -0.208241   -0.780656    1.148876    0.910471
D    0.354580   -0.699672   -0.323344   -0.229629    1.277954   -0.072056
C    1.638132    0.590918   -0.269837    0.778081    0.700101   -0.416252

## Sorting

In [121]:
# Sort on axis
df.sort_index(axis=1)

                   A         B         C         D
2017-09-01  0.230514 -0.285806  1.638132  0.354580
2017-09-02  1.466106  0.361433  0.590918 -0.699672
2017-09-03  0.858404 -0.208241 -0.269837 -0.323344
2017-09-04  0.268305 -0.780656  0.778081 -0.229629
2017-09-05  1.839360  1.148876  0.700101  1.277954
2017-09-06 -1.190543  0.910471 -0.416252 -0.072056

In [116]:
# Sort by value
df.sort_values(by='B')

                   A         B         D         C
2017-09-04  0.268305 -0.780656 -0.229629  0.778081
2017-09-01  0.230514 -0.285806  0.354580  1.638132
2017-09-03  0.858404 -0.208241 -0.323344 -0.269837
2017-09-02  1.466106  0.361433 -0.699672  0.590918
2017-09-06 -1.190543  0.910471 -0.072056 -0.416252
2017-09-05  1.839360  1.148876  1.277954  0.700101

# Data Selection

## Label based

In [125]:
# Select column, which returns a series
df['A']

2017-09-01    0.230514
2017-09-02    1.466106
2017-09-03    0.858404
2017-09-04    0.268305
2017-09-05    1.839360
2017-09-06   -1.190543
Freq: D, Name: A, dtype: float64

In [130]:
# Row based
df[1:4]

                   A         B         D         C
2017-09-02  1.466106  0.361433 -0.699672  0.590918
2017-09-03  0.858404 -0.208241 -0.323344 -0.269837
2017-09-04  0.268305 -0.780656 -0.229629  0.778081

In [135]:
# Or index based
df['20170902':'20170904']

                   A         B         D         C
2017-09-02  1.466106  0.361433 -0.699672  0.590918
2017-09-03  0.858404 -0.208241 -0.323344 -0.269837
2017-09-04  0.268305 -0.780656 -0.229629  0.778081

In [138]:
# Cross section using a label
df.loc['2017-09-02']

A    1.466106
B    0.361433
D   -0.699672
C    0.590918
Name: 2017-09-02 00:00:00, dtype: float64

In [145]:
# Multi access selection based on label
df.loc[:,['A','B']]

                   A         B
2017-09-01  0.230514 -0.285806
2017-09-02  1.466106  0.361433
2017-09-03  0.858404 -0.208241
2017-09-04  0.268305 -0.780656
2017-09-05  1.839360  1.148876
2017-09-06 -1.190543  0.910471

In [149]:
# Multi dimension label slicing
df.loc['20170902':'20170904',['B','C']]

                   B         C
2017-09-02  0.361433  0.590918
2017-09-03 -0.208241 -0.269837
2017-09-04 -0.780656  0.778081

In [151]:
# Reduced dimension of return object for single rows
df.loc['20170902',['A','B']]

A    1.466106
B    0.361433
Name: 2017-09-02 00:00:00, dtype: float64

In [153]:
# Scalar values
df.loc['20170902','A']

1.4661055188464265

## Position based
The semantics follow closely python and numpy slicing.

In [157]:
# Row
df.iloc[3]

A    0.268305
B   -0.780656
D   -0.229629
C    0.778081
Name: 2017-09-04 00:00:00, dtype: float64

In [163]:
# Multi dimension
df.iloc[3:5,2:4]

                   D         C
2017-09-04 -0.229629  0.778081
2017-09-05  1.277954  0.700101

In [164]:
df.iloc[1:3,:]

                   A         B         D         C
2017-09-02  1.466106  0.361433 -0.699672  0.590918
2017-09-03  0.858404 -0.208241 -0.323344 -0.269837

In [165]:
df.iloc[:,1:3]

                   B         D
2017-09-01 -0.285806  0.354580
2017-09-02  0.361433 -0.699672
2017-09-03 -0.208241 -0.323344
2017-09-04 -0.780656 -0.229629
2017-09-05  1.148876  1.277954
2017-09-06  0.910471 -0.072056

In [166]:
df.iloc[1,1]

0.36143299164038073